.choose {
    background-color: #181817;
    padding-top: 90px;
    text-align: center;
}

.column {
    max-width: 460px;
    margin: auto;
    margin-top: 22px;
    text-align: center;
}

.choose_title {
    font-family: 'Poppins';
    text-align: center;
    color: #ffce76;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 19px;
    font-weight: 600;
    margin: 0;
    position: relative;
}

.choose_icon {
    position: absolute;
    background-color: #181817;
    padding: 0 12px 0 12px;
}


.yellow_right {
    font-family: 'Poppins';
    color: #ffce76;
    font-size: 20px;
    text-align: right;

}

.yellow_left {
    font-family: 'Poppins';
    color: #ffce76;
    font-size: 20px;
    text-align: left;

}

.description_right {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: right;
}

.description_left {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: left;

}

.chose_img {
    padding-top: 27px;
    }

.