.choose {
    background-color: #181817;
    padding-top: 90px;
    text-align: center;
}

.column {
    position: relative;
    max-width: 460px;
    margin: auto;
    margin-top: 22px;
}

.choose_title {
    font-family: 'Poppins';
    text-align: center;
    color: #ffce76;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 19px;
    color: #ffce76;
    font-weight: 600;
    margin: 0;
    position: relative;
}
.choose_icon{
    position: absolute;


}

.choose__chair {}