.trends__row1,
.trends__row2 {
    display: flex;
}

.trends__patio,
.trends__design,
.trends__ceramics {
    width: 247px;
    height: 106px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: "Poppins";
}

.trends__patio {
    color:#749d26;
    
}

.trends__design {
    color: #599ba7
}

.trends__ceramics {
    color: #352b30;
}

.trends__btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: var(--green);
    font-family: "Poppins";
}

.trends__column {
    height: 670px;
}